<h2 class="subtitle is-2">Sign Up</h2>
<hr />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label 'Full Name', class: 'label' %>
    <div class="control">
      <%= f.text_field :name, autofocus: true, class: 'input' %>
      <p class="help has-text-danger">
        <%= show_input_error(@user, :name) %>
      </p>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control">
      <%= f.email_field :email, autocomplete: "email", class: 'input' %>
      <p class="help has-text-danger">
        <%= show_input_error(@user, :email) %>
      </p>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: 'label'%>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    </div>
    <% if @minimum_password_length %>
      <p class="help">(<%= @minimum_password_length %> characters minimum)</p>
    <% end %>
    <p class="help has-text-danger">
      <%= show_input_error(@user, :password) %>
    </p>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="field mt-5">
    <%= f.submit "Sign up", class: 'button is-success is-fullwidth' %>
  </div>
<% end %>

<div class="has-text-centered mt-5">
  <%= render "devise/shared/links" %>
</div>
